/* *{
    margin: 0;
    padding: 0;
} */

/* static (Default) Position*/
.staticDefault{
    position: static;
    background-color: yellowgreen;
    border: 1px solid red;
    top: 10px;
    right: 20px;
}

/* Relative Position */
.relPostion{
    position: relative;
    background-color: yellowgreen;
    border: 1px solid red;
    top: 10px;
    right: 20px;
}


/* .shape1{
    position: static;
    background-color: yellow;
    width: 80px;
    height: 80px;
}

.shape2{
    position: relative;
    background-color: red;
    width: 80px;
    height: 80px;
    bottom: 20px;
    left: 20px;
} */


/* Absolute Position */
.shape1{
    position: relative;
    background-color: yellow;
    width: 300px;
    height: 300px;
}

.shape2{
    position: absolute;
    background-color: red;
    width: 80px;
    height: 80px;
    /* bottom: 20px;
    left: 20px; */
}


.shape3{
    position: absolute;
    background-color: red;
    width: 80px;
    height: 80px;
    bottom: 20px;
    right: 20px;
}



/* Fixed Postions */
.fiexdPosition{
    position: fixed;
    background-color: yellowgreen;
    border: 1px solid red;
    top: 80px;
    left: 50px;
}



/* Sticky Position */
.stickyPosition{
    position: sticky;
    background-color: aqua;
    border: 2px solid black;
    top: 120px;
    left: 20px;
   
}