/* Animations */

button{
    background-color: black;
    color: white;
    margin: 12px;
    padding: 12px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    /* tarnsitions */
    /* transition-delay: 240ms;
    transition-duration: 600ms;
    transition-property: all; */
    /* linear or cubic-bezier(0.6, 0.04, 0.98, 0.335) or ease or ease-in or ease-in-out */
    /* transition-timing-function: ease-out; */

    transition: all  ease-out 240ms 600ms;
}

button:hover{
    background-color: yellow;
    color: blue;
    cursor: pointer;
}