*{
    margin: 0;
    padding: 0;
}



div{
    width: 280px;
    height: 280px;
    background-color: yellow;
    margin: 20px;
}
span{
    color: white;
    background-color: black;
    border: 2px solid red;
    /* padding: 15px; */
    /* padding-left: 15px;
    padding-top: 20px; */
    /* padding: 0 10px 15px 20px; */
    /* top, right, bottom n left */
    /* padding: 5px 10px; */
    /* 5px top n 10px right n 5px bottom n 10px left */
    /* margin: 20px 25px 30px 60px; */
    /* margin-left: 20px; */
    margin-top: 180px;
    margin-left: 10px;
}


/* px, %,rem, em, vh,vw */